@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/css/LandingPage.css">
<!-- Background image --> 


<!-- Background image -->
<div class="bg-image"

    style=" background-image: url('https://www.ivey.uwo.ca/imageGen.ashx?image=/media/3785932/winners_photos_001_cropped.jpg&width=1548&compression=80&constrain=true&format=jpeg'); height: 600px; ">




<div class="imgBg">
    <div class="banner-title">
        
        <h1>Bank <strong>Safe</strong><br/> Bank <strong>Secure!</strong></h1>
   


    </div>
</div>

   

<!-- Background image --> 

