@{
    ViewData["Title"] = "Home Page";
}


<!-- Background image -->
<div class="bg-image"

    style=" background-image: url('https://www.ivey.uwo.ca/imageGen.ashx?image=/media/3785932/winners_photos_001_cropped.jpg&width=1548&compression=80&constrain=true&format=jpeg'); height: 600px; ">

</div>
<!-- Background image -->