@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/css/LandingPage.css">
<!-- Background image --> 




<div class="imgBg">
    <div class="banner-title">
        
        <h1>Bank <strong>Safe</strong><br/> Bank <strong>Secure!</strong></h1>
   


    </div>
</div>

   

<!-- Background image --> 

