@{
    ViewData["Title"] = "Home Page";
}


<!-- Background image --> 
<div style="text-align: left">
<h2>Bank Safe, Bank Secure!</h2>
    </div>
<div class="bg-image"
     style=" background-image: url('https://i.ibb.co/Qpqh6Vr/Scotia-landing.png');  height: 400px; width:auto;  background-repeat:no-repeat; align-content:center " >

</div>

<!-- Background image --> 

